node-red/configuration/flows.v4.json
[
    {
        "id": "dcedb728b9c3efae",
        "type": "tab",
        "label": "Mongo Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5bef7c0b6cea8acc",
        "type": "mongodb in",
        "z": "dcedb728b9c3efae",
        "mongodb": "23cf5dbbf0c612ec",
        "name": "",
        "collection": "messages",
        "operation": "find",
        "x": 390,
        "y": 80,
        "wires": [
            [
                "0359b58d69dd94fb"
            ]
        ]
    },
    {
        "id": "24e0b58ae48c1fc6",
        "type": "inject",
        "z": "dcedb728b9c3efae",
        "name": "Find Messages",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "5bef7c0b6cea8acc"
            ]
        ]
    },
    {
        "id": "0359b58d69dd94fb",
        "type": "debug",
        "z": "dcedb728b9c3efae",
        "name": "List Messages",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 80,
        "wires": []
    },
    {
        "id": "cb74777a9b28f1d4",
        "type": "mongodb out",
        "z": "dcedb728b9c3efae",
        "mongodb": "23cf5dbbf0c612ec",
        "name": "",
        "collection": "messages",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 390,
        "y": 240,
        "wires": []
    },
    {
        "id": "807a226714b176f4",
        "type": "inject",
        "z": "dcedb728b9c3efae",
        "name": "Insert Message",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"device\":\"Temperature_01\",\"value\":3.6,\"date\":\"2021-07-15T10:30:48.021Z\"}",
        "payloadType": "json",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "cb74777a9b28f1d4",
                "b478f5f8a61233e9"
            ]
        ]
    },
    {
        "id": "bc0afb1c23186eef",
        "type": "mqtt in",
        "z": "dcedb728b9c3efae",
        "name": "Temperature",
        "topic": "Temperature_01",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9b97a8a2a3926ebe",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 420,
        "wires": [
            [
                "36f71e34fce89ed0"
            ]
        ]
    },
    {
        "id": "36f71e34fce89ed0",
        "type": "debug",
        "z": "dcedb728b9c3efae",
        "name": "Temperature Message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 420,
        "wires": []
    },
    {
        "id": "b478f5f8a61233e9",
        "type": "mqtt out",
        "z": "dcedb728b9c3efae",
        "name": "Temperature",
        "topic": "Temperature_01",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9b97a8a2a3926ebe",
        "x": 350,
        "y": 320,
        "wires": []
    },
    {
        "id": "23cf5dbbf0c612ec",
        "type": "mongodb",
        "hostname": "maiind-mongo",
        "topology": "direct",
        "connectOptions": "authSource=admin&readPreference=primary&ssl=false",
        "port": 27017,
        "db": "maiind",
        "name": "maiind-mongo"
    },
    {
        "id": "9b97a8a2a3926ebe",
        "type": "mqtt-broker",
        "name": "maiind-broker",
        "broker": "maiind-rabbitmq",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]